In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

def get_topics_page():
    # TODO - add comments
    topics_url = 'https://www.townandcountrymag.com/style/fashion-trends/a38913726/2022-shoe-trends/'
    response = requests.get(topics_url)
    if response.status_code != 200:
        raise Exception('Failed to load page {}'.format(topic_url))
    doc = BeautifulSoup(response.text, 'html.parser')
    return doc

In [2]:
doc = get_topics_page()

In [3]:
a='body-h2 css-342xek et3p2gv0'
aas=doc.find_all('h2',{'class': a})
#ad = aas.find('h2')
aas

[<h2 class="body-h2 css-342xek et3p2gv0">Lace Up Sandals<br/></h2>,
 <h2 class="body-h2 css-342xek et3p2gv0">Flashy Pumps</h2>,
 <h2 class="body-h2 css-342xek et3p2gv0">Fashion Sneakers</h2>,
 <h2 class="body-h2 css-342xek et3p2gv0">Clogs</h2>,
 <h2 class="body-h2 css-342xek et3p2gv0">Platforms</h2>,
 <h2 class="body-h2 css-342xek et3p2gv0">Fisherman Sandals</h2>,
 <h2 class="body-h2 css-342xek et3p2gv0">Loafers</h2>,
 <h2 class="body-h2 css-342xek et3p2gv0">Sky High Heels</h2>,
 <h2 class="body-h2 css-342xek et3p2gv0">Sporty Sandals</h2>]

In [4]:
lst=[]
for item in aas:
    h=', '.join([x.get_text() for x in item])
    print(h)
    lst.append(h)

df = pd.DataFrame(lst)
lst

Lace Up Sandals,
Flashy Pumps
Fashion Sneakers
Clogs
Platforms
Fisherman Sandals
Loafers
Sky High Heels
Sporty Sandals

['Lace Up Sandals, ',
 'Flashy Pumps',
 'Fashion Sneakers',
 'Clogs',
 'Platforms',
 'Fisherman Sandals',
 'Loafers',
 'Sky High Heels',
 'Sporty Sandals']

In [5]:
df.to_csv('my_new_file.csv', index=False)
df_saved_file = pd.read_csv('my_new_file.csv')
df_saved_file

                   0
0  Lace Up Sandals,
1       Flashy Pumps
2   Fashion Sneakers
3              Clogs
4          Platforms
5  Fisherman Sandals
6            Loafers
7     Sky High Heels
8     Sporty Sandals